@model IEnumerable<DemoKhaled.BL.Models.EmployeeVm>


<h1>Employee</h1>
<a type="submit" asp-controller="Employee" asp-action="create" class="btn btn-info">@SharedLocalizer["create new Empolyee"]</a>


<div class="container-fluid">
    <div class="row">
        <form asp-controller="Employee" asp-action="Index">
            <div class="col-xl-8 m-t-20">
                <input type="search" class="form-control" name="SearchValue" placeholder=@SharedLocalizer["Sreach By Name"] name="SearchValue" />
            </div>
            <div class="col-xl-8 m-t-20">
                <input type="submit" value=@SharedLocalizer["Search"] class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>@SharedLocalizer["Welcome To Employee"]</h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>@SharedLocalizer["ID"]</th>
                                    <th>@SharedLocalizer["Name"]</th>
                                    <th>@SharedLocalizer["Salary"]</th>
                                    <th>@SharedLocalizer["Emial"]</th>
                                    <th>Photo</th>
                                    <th>Cv</th>
                                    <th>@SharedLocalizer["details"]</th>
                                    <th>@SharedLocalizer["Update"]</th>
                                    <th>@SharedLocalizer["Delete"]</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.salary</td>
                                        <td>@item.Emial</td>
                                        <td><img src="~/files/imges/@item.PhotoName" width="85" height="85" /></td>
                                        <td><a download="download" href="~/files/cv/@item.CvName">Cv</a></td>
                                        <td><a class="btn btn-info" asp-controller="Employee" asp-action="detailes" asp-route-id="@item.Id">@SharedLocalizer["Detail"]</a></td>
                                        <td><a class="btn btn-info" asp-controller="Employee" asp-action="Update" asp-route-id="@item.Id">@SharedLocalizer["Update"]</a></td>
                                        <td><a class="btn btn-info" asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a></td>
                                    </tr>

                                }
                            </tbody>

                            @foreach (var item in Model)
                            {
                                <input type="hidden" asp-for="@item.Id" />
                                <input type="hidden" asp-for=@item.PhotoName />
                                <input type="hidden" asp-for="@item.CvName" />
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


















@*<table class="table">

        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Emial</th>
            <th>details</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.salary</td>
                <td>@item.Emial</td>
                <td><a class="btn btn-info" asp-controller="Employee" asp-action="detailes" asp-route-id="@item.Id">Details</a></td>
                <td><a class="btn btn-info" asp-controller="Employee" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                <td><a class="btn btn-info" asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
            </tr>

        }
    </table>*@


@section bootstrabSelect{
    <link href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />

}
@section selectBootstrab{
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <script src="~/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
    <script src="~/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>



    <script>

        $(function () {
            $('.js-basic-example').DataTable({
                responsive: true,
                paging: true,
                pageLength: 5,
                bSort: true,
                bFilter: true,
                //bLengthChange: false,
                //bInfo: false,
                lengthMenu: [[3, 10, 25, 50, -1], [3, 10, 25, 50, "All"]],

            });
        });
        var table = $('.js-basic-example').DataTable();

        new $.fn.dataTable.Buttons(table, {
            buttons: [
                'copy', 'excel', 'pdf', 'csv', 'print'
            ]
        });

        table.buttons().container()
            .appendTo($('.col-sm-6:eq(0)', table.table().container()));


    </script>
}